table{
    border: 2px, solid, black;
}
td{
    border: 1px, solid, black;
    min-width: 100px;
}

fieldset{
    width: 90%;
    margin: 20px 0px;
}
li{
    margin-bottom: 5px;
    margin-left: 10px;
}